<br>
   <section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <!-- start title -->
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>Result History</h2>
                    </div>
                    <!-- end title -->
             </div>
        </div>
    </div>
</section>
<hr/>
<br>

<section class="container">
	<div *ngIf="!scoreHistory.scoreAvailable">
		<h1>You have not given any test yet.</h1>
	</div>

	<div *ngIf="scoreHistory.scoreAvailable">

		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>S.No.</th>
					<th>Quiz Name</th>
					<th>Date</th>
					<th>Time</th>
					<th>Score</th>
					<th>Percent</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let score of scoreHistory.scores; let i = index">
					<td>{{i+1}}</td>
					<td>{{score.quizName}}</td>
					<td>{{score.date | date : 'longDate'}}</td>
					<td>{{score.date | date : 'mediumTime'}}</td>
					<td>{{score.score}}</td>
					<td>{{score.percent}}</td>
				</tr>
			</tbody>
		</table>
	</div>
