<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area">
					<!-- start title -->
					<div class="mu-title">
						<h2>Get in Touch</h2>
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>-->
					</div>
					<!-- end title -->
					<!-- start contact content -->
					<div class="mu-contact-content">
						<div class="row">
							<div class="col-md-12">


								<div *ngIf="quizzesService.quizzes!=null">
									<div *ngIf="quizzesService.quizzes.length<=0">Please contact admin to assign quizzes for you.</div>

									<div *ngIf="quizzesService.quizzes.length>0">
										<table class="table table-striped table-responsive">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Quiz Name</th>
													<th>Description</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let quiz of quizzesService.quizzes; let i = index">
													<td>{{i+1}}</td>
													<td>
														<a [class.disabled]="quiz.status !== 'accepted'" (click)="getSelectedQuiz(quiz)">{{quiz.trainingQuiz.quizName}}</a>
													</td> 
													<td>{{quiz.trainingQuiz.description}}</td>
													<td>{{quiz.status}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

							</div>

						</div>
					</div>
					<!-- end contact content -->
				</div>
			</div>
		</div>
	</div>
</section>