<!-- Start footer -->
  <footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Information</h4>
                <ul>
                  <li><a routerLink="home">Home</a></li>
                  <li><a [routerLink]="['feedback']">Feedback</a></li>

                  
                  <li *ngIf="!authService.loggedIn"><a [routerLink]="['user', 'signin']">SignIn</a></li>
            <li *ngIf="!authService.loggedIn"><a routerLink="user/signup">SignUp</a></li>
            
            <li *ngIf="authService.loggedIn"><a href="/logout">Logout</a></li>               

                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Student Help</h4>
                <ul>
                  <li><a href="">Get Started</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p>P.O. Box 000, CP, Delhi, India</p>
                  <p>Phone: (000) 000-0000</p>
                  <p>Website: www.someurl.io</p>
                  <p>Email: info@info.io</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. Designed by <a href="http://www.markups.io/" rel="nofollow">SomeUrl.io</a></p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>