<!--<footer>
	<h4>Footer Information</h4>
	<ul>
		<li><a>About Us</a></li>
		<li><a>Features</a></li>
		<li><a>Course</a></li>
		<li><a>Event</a></li>
		<li><a>Sitemap</a></li>
		<li><a>Term Of Use</a></li>
		<li><a>Home</a></li>

		<li><a>Gallery</a></li>
		<li><a>Contact</a></li>
		<li><a>Surveys</a></li>
	</ul>
	<div>
		<p>&copy; All Right Reserved by <a>DontKnow.io</a></p>
	</div>
</footer>-->


<!-- Start footer -->
  <footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Information</h4>
                <ul>
                  <li><a routerLink="home">Home</a></li>
                  <li><a [routerLink]="['gallery']">Gallery</a></li>
                  <li><a [routerLink]="['course', 'archive']">Course Archive</a></li>
                  <li><a [routerLink]="['course', 'detail']">Course Detail</a></li>
                  <li><a [routerLink]="['feedback']">Feedback</a></li>
                  <li><a [routerLink]="['user', 'signin']">SignIn</a></li>
                  <li><a routerLink="user/signup">SignUp</a></li>
                  <li><a routerLink="profile">Profile</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Student Help</h4>
                <ul>
                  <li><a href="">Get Started</a></li>
                  <li><a href="#">My Questions</a></li>
                  <li><a href="">Download Files</a></li>
                  <li><a href="">Latest Course</a></li>
                  <li><a href="">Academic News</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>News letter</h4>
                <p>Get latest update, news & academic offers</p>
                <form class="mu-subscribe-form">
                  <input type="email" placeholder="Type your Email">
                  <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                </form>               
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p>P.O. Box 320, Ross, California 9495, USA</p>
                  <p>Phone: (415) 453-1568 </p>
                  <p>Website: www.markups.io</p>
                  <p>Email: info@markups.io</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. Designed by <a href="http://www.markups.io/" rel="nofollow">MarkUps.io</a></p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>