<section id="mu-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-contact-area">
					<!-- start title -->
					<div class="mu-title">
						<h2>Survey List</h2>
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>-->
					</div>
					<!-- end title -->
					<!-- start contact content -->
					<div class="mu-contact-content">
						<div class="row">
							<div class="col-md-12">

								<!--------------------------------------------------------------->
								<div class="row">
			<div class="col-xs-5">
				<a [routerLink]="['/survey','newSurvey']" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>New Poll</a>
			</div>
			<div class="col-xs-7">
<!--				<input type="text" class="form-control" ng-model="query" placeholder="Search for a poll">-->
				<input type="text" class="form-control" placeholder="Search for a poll">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12"><hr></div>
		</div>
		<div class="row">
			<ul *ngIf="surveyList.length<=0">
				<li><em>No polls in databases. Would you like to <a [routerLink]="['/survey','newSurvey']">create one</a>?</em></li>
			</ul> 
			<ol *ngIf="!surveyList.length<=0">
				<li *ngFor="let survey of surveyList; let i = index">
					<a (click)="surveyItem(survey._id)">{{survey.question}}</a>
				</li>
			</ol>
		</div>
								<!---------------------------------------------------------------------------->
							</div>

						</div>
					</div>
					<!-- end contact content -->
				</div>
			</div>
		</div>
	</div>
</section>




<!--
<a [routerLink]="['/survey','newSurvey']">
	<button class="btn btn-primary">New Survey</button>
</a>
<a [routerLink]="['/survey','item']">
	<button class="btn btn-primary">Survey Items</button>
</a>
<h2>Survey List</h2>

<input type="search" placeholder="Type Your Keyword(s) & Hit Enter">


<a [routerLink]="['/survey','newSurvey']" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Poll</a>

<input type="text" class="form-control" [(ngModel)]="query" placeholder="Search for a poll">
-->

