<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="well" *ngIf="!quizzesService.selectedQuiz.showScores">
	<h4>Your test stored in database successfully.</h4>
	<h4> Contact Admin for the result.</h4>
</div>

<div class="table-responsive" *ngIf="quizzesService.selectedQuiz.showScores">
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Questions</th>
				<th width="40%">Selected Answers</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let question of quizzesService.selectedQuiz.questions;let i = index">
				<td>{{i+1}}.</td>
				<td><b>{{question.text}}</b></td>
				<td>
					<ul *ngFor="let answer of question.answers">
						<li>
							<span class="glyphicon glyphicon-lock"></span>
							<kbd *ngIf="answer.correct">{{answer.text}}</kbd>
							<span *ngIf="!answer.correct">{{answer.text}}</span>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
             </div>
        </div>
    </div>
</section>


