<section id="mu-page-breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-page-breadcrumb-area">
					<h2>Feedback Page</h2>
				</div>
			</div>
		</div>
	</div>
</section>

 <section id="mu-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-contact-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Get in Touch</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>
          </div>
          <!-- end title -->
          <!-- start contact content -->
          <div class="mu-contact-content">           
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="mu-contact-left">
                  	<form class="form-horizontal" role="form" (ngSubmit)="onSubmit(feedbackForm)" #feedbackForm="ngForm">
		<div class="form-group">
			<label class="col-sm-3 control-label">Rate us</label>
			<div class="col-sm-9">
				<div class="form-control">
<div>
	<rating [(ngModel)]="userFeedback.rate" name="rate" [max]="max" (onHover)="hoveringOver($event)" (onLeave)="resetStar($event)"></rating>
	<span class="label" [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}">{{percent}}%</span>
</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" [(ngModel)]="userFeedback.email" [attr.disabled]="true" class="form-control" id="email" name="email" placeholder="Email" required/>
			</div>
		</div>

		<div class="form-group">
			<label for="feedback" class="col-sm-3 control-label">Feedback</label>
			
			<div class="col-sm-9">
				<textarea class="form-control" rows="3" id="feedback" [(ngModel)]="userFeedback.feedback" name="feedback" placeholder="Type your message here . . ." required #feedback="ngModel"></textarea>
				<div>
					<label class="text-danger" *ngIf="!feedback.valid && feedback.dirty">Can not leave this field blank!</label>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-10">
<!--				<button id="clearBtn" class="btn btn-primary" (click)="emptyFeedback()">Clear</button>-->
<!--				<button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>-->
	        
		        <button type="submit" class="btn btn-primary" [disabled]="!feedbackForm.valid">Submit Feedback</button>
			</div>
		</div>
	</form>
                </div>
              </div>
            </div>
          </div>
          <!-- end contact content -->
         </div>
       </div>
     </div>
   </div>
 </section>