 <section id="mu-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-contact-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>{{quizzesService.selectedQuiz.quizName}}</h2>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>-->
          </div>
          <!-- end title -->
          <!-- start contact content -->
          <div class="mu-contact-content">           
            <div class="row">
              <div class="col-md-12">
              
               <!--------------------------------------------------------------->
              <h2>RemainingTime (hr:min:sec) : <strong>{{quizDuration.hr}}:{{quizDuration.min}}:{{quizDuration.sec}}</strong></h2>
	<progressbar class="progress-striped active" [value]="progressBar.dynamic" [type]="progressBar.type" [max]="progressBar.maxTime">{{progressBar.type}} <i *ngIf="progressBar.showWarning">!!!
  Time running out !!!</i></progressbar>
<br/>
	<span *ngFor="let question of quizzesService.selectedQuiz.questions; let i = index">
		<a (click)="goToQuestion(i)">
			<button class={{quizzesService.selectedQuiz.questions[i].btnColor}}>{{i +1}}</button>
		</a>
    </span>
    <div>
    	Question {{quizzesService.selectedQuiz.currentIndex+1}}: <span>{{ quizzesService.selectedQuiz.currentQuestion.text}}</span>
    	
<!--
    	<br/>
    	{{ quizzesService.selectedQuiz.currentQuestion| json}}
    	<br/>
-->
    	
		<ul style="list-style: none;">
			<li *ngFor="let answer of  quizzesService.selectedQuiz.currentQuestion.answers; let i = index">
				<span><input type="checkbox" name="choiceGroup" id="{{i}}" [(ngModel)]=" quizzesService.selectedQuiz.currentQuestion.answers[i].correct"></span>
				<label htmlFor="{{i}}">{{answer.text}}</label>
			</li>
		</ul>

    </div>

		<ul style="list-style: none;">
			<li><a *ngIf="quizzesService.selectedQuiz.currentIndex > 0" (click)="previousQuestion()" class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a></li>
			<li><a *ngIf="quizzesService.selectedQuiz.currentIndex < (quizzesService.selectedQuiz.questions.length-1)" (click)="nextQuestion()" class="pull-right">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
			</li>
		</ul>

	<button class="btn btn-primary center-block" (click)="submitTest()">Submit Test</button>
                <!---------------------------------------------------------------------------->
              </div>
              
            </div>
          </div>
          <!-- end contact content -->
         </div>
       </div>
     </div>
   </div>
 </section>