<!--    <div class="div" id="div">
        <div class="div" id="div">Dummy</div>
    </div>

--> 
<my-header></my-header>
   <!--{{myImage}}
   <img src="./../../public/images/download.jpg" alt="">
   <img [src]="myImage" alt="">
<a href="/"><h1>My App...</h1></a>-->
   
    <router-outlet></router-outlet>
    <hr/>
    
       <app-footer></app-footer>
 