<section id="mu-page-breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-page-breadcrumb-area">
					<h2>Profile</h2>
				</div>
			</div>
		</div>
	</div>
</section>	
			
<hr/>
<section id="mu-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-gallery-area">
                    <!-- start title -->
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>Welcome {{userService.user.email}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>
                    </div>
                    <!-- end title -->
                    <!-- start gallery content -->
                    <div class="mu-gallery-content">
                        <!-- Start gallery menu -->
                        <div class="mu-gallery-top">
                            <ul>
                                <a routerLinkActive="activeCss" [routerLink]="['quiz', 'landing']"><li class="filter" data-filter=".lab">Assign Quizzes</li></a>
                            </ul>
<!--                             <ul>
                                <a routerLinkActive="activeCss" [routerLink]="['quiz', 'assessments']"><li class="filter" data-filter="all">AssessmentsPage</li></a>
                                <a routerLinkActive="activeCss" [routerLink]="['quiz', 'landing']"><li class="filter" data-filter=".lab">LandingPage</li></a>
                                <a routerLinkActive="activeCss" [routerLink]="['quiz', 'info']"><li class="filter" data-filter=".classroom">InfoPage</li></a>
                                <a routerLinkActive="activeCss" [routerLink]="['quiz', 'test']"><li class="filter" data-filter=".library">TestPage</li></a>
                                <a routerLinkActive="activeCss" [routerLink]="['quiz', 'submitted']"><li class="filter" data-filter=".cafe">Test Submitted</li></a>
                            </ul>
 --><!--                             <ul>
                            	<a routerLinkActive="activeCss" [routerLink]="['history', 'progress']"><li class="filter" data-filter=".library">ProgressPage</li></a>
                                <a routerLinkActive="activeCss" [routerLink]="['history', 'score']"><li class="filter" data-filter=".cafe">ScorePage</li></a>
                            </ul> -->
                        </div>
                        <!-- End gallery menu -->
                        
                    </div>
                    <!-- end gallery content -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--  <a routerLinkActive="activeCss" [routerLink]="['quiz', 'assessments']">AssessmentsPage</a> |
  <a routerLinkActive="activeCss" [routerLink]="['quiz', 'landing']">LandingPage</a> |
  <a routerLinkActive="activeCss" [routerLink]="['quiz', 'info']">InfoPage</a> |
  <a routerLinkActive="activeCss" [routerLink]="['quiz', 'test']">TestPage</a> |
  <a routerLinkActive="activeCss" [routerLink]="['quiz', 'submitted']">Test Submitted</a> 
  
  <br/>

  <a routerLinkActive="activeCss" [routerLink]="['history', 'progress']">ProgressPage</a> |
  <a routerLinkActive="activeCss" [routerLink]="['history', 'score']">ScorePage</a> 
  
 <hr/>-->
