<!-- Start header  -->
  <header id="mu-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-header-area">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="mu-header-top-left">
                  <div class="mu-top-email">
                    <i class="fa fa-envelope"></i>
                    <span>info@info.io</span>
                  </div>
                  <div class="mu-top-phone">
                    <i class="fa fa-phone"></i>
                    <span>(000) 000 000</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="mu-header-top-right">
                  <nav>
                    <ul class="mu-top-social-nav">
                      <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                      <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                      <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      <li><a href="https://www.linkedin.com/in/dom-shom-973101138"><span class="fa fa-linkedin"></span></a></li>
                      <li><a href="https://www.youtube.com/channel/UCBx_UejKuzhlfr8swhKeRnQ"><span class="fa fa-youtube"></span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Start menu -->
  <section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->
          <!-- TEXT BASED LOGO -->
<!--          <a class="navbar-brand" href="/"><i class="fa fa-university"></i><span>Tutorial</span></a>-->
          <!--<a class="navbar-brand" routerLink="home"><i class="fa fa-university"></i><span>Tutorial</span></a>-->
          <a class="navbar-brand" href="/"><i class="fa fa-university"></i><span>Tutorial</span></a>
          <!-- IMG BASED LOGO  -->
          <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">

            <li class="active"><a routerLink="home">Home</a></li>
            <li *ngIf="authService.loggedIn()"><a routerLink="/user/admin">Admin</a></li>
            <li *ngIf="authService.loggedIn()"><a routerLink="newTrainingRequest">AssignNewTraining</a></li>
            <li><a (click)="isUserLoggedIn('/feedback')">Feedback</a></li>
            <li><a routerLink='/survey/list'>SurveyList</a></li>
            <li *ngIf="authService.loggedIn()"><a routerLink="/survey/newSurvey">CreateSurvey</a></li>

            <li *ngIf="authService.loggedIn()"><a routerLink="/videos/library">VideoLibrary</a></li>

            <li><a (click)="isUserLoggedIn('/profile/quiz/landing')">Quiz</a></li>
            <!--<li><a [routerLink]="['feedback']">Feedback</a></li>-->
           <!-- <li *ngIf="!userService.user.isAuthenticated"><a [routerLink]="['user', 'signin']">SignIn</a></li>-->
            <li *ngIf="!authService.loggedIn()"><a (click)="showChildModalSignIn()">SignIn</a></li>
            <!--<li *ngIf="!userService.user.isAuthenticated"><a routerLink="user/signup">SignUp</a></li>-->
            <li *ngIf="!authService.loggedIn()"><a (click)="showChildModalSignUp()">Sign Up</a></li>

            <li *ngIf="authService.loggedIn()"><a href="" (click)="logout()">Logout</a></li>
            <!--<li *ngIf="userService.user.isAuthenticated"><a routerLink="/profile/quiz/landing">Your Quzzes</a></li>-->
<!--            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Slides<span class="fa fa-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/slides/html">Html</a></li>
                  <li><a href="/slides/html5">Html5</a></li>
                  <li><a href="/slides/css3">CSS3</a></li>
                  <li><a href="/slides/angular2">Angular2</a></li>
                  <li><a href="/slides/react">React</a></li>
                  <li><a href="/slides/java8">Java8</a></li>
                </ul>
            </li>-->
<!--              <li dropdown>
                  <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown">Slides <span class="caret"></span></a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="slide"><a class="dropdown-item" href="/slides/html">Html</a></li>
                    <li role="slide"><a class="dropdown-item" href="/slides/html5">Html5</a></li>
                    <li role="slide"><a class="dropdown-item" href="/slides/css3">CSS3</a></li>
                    <li role="slide"><a class="dropdown-item" href="/slides/java8">Java8</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="slide"><a class="dropdown-item" href="/slides/angular2">Angular2</a></li>
                    <li role="slide"><a class="dropdown-item" href="/slides/react">React</a></li>
                  </ul>
        </li>
-->
                        <li><a href="/slides/">Slides</a></li>

          </ul>

     
          <div bsModal #childModalSignIn="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Sign In</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalSignIn()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ds-signin (onSignIn)="hideChildModalSignIn()"></ds-signin>
                </div>
              </div>
            </div>
          </div>


          <div bsModal #childModalSignUp="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Sign In</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalSignUp()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ds-signup (onSignUp)="hideChildModalSignUp()"></ds-signup>
                </div>
              </div>
            </div>
          </div>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </section>
  <!-- End menu -->
  <!-- Start search box -->
  <hr/>
  <br>
  <br>