
<div *ngIf="makers.length<=0">
    <h2>Pending makers not found in database.</h2>
</div>
<div *ngIf="makers.length>0">
  <form [formGroup]="makerCheckerForm">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>User</th>
                    <th>TrainingId</th>
                    <th>Allow</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let maker of makers; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <a>{{maker.user}}</a>
                    </td>
                    <td>{{maker.trainingId}}</td>
                    <td>
                        <!--<input type="checkbox" />-->
                        <input type="checkbox" name="check" formControlName="check" (click)="onChecked(maker)" />
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="button" class="button expanded" value="Accept Maker requests" (click)="onSubmit('a')" />
        <input type="button" class="button expanded" value="Delete Maker requests" (click)="onSubmit('d')" />
  </form>
</div>

