<section id="mu-page-breadcrumb">
</section>
{{errorMessage}}

<section id="mu-contact">
  <div class="container">
            <div class="row">

                  <form class="form-horizontal" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                    <div class="form-group">

                      <label for="email" class="col-lg-3 col-md-4 col-sm-3 control-label">Email</label>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Email / Userid" id="email" [(ngModel)]="user.email" name="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                          required #email="ngModel">
                        <div>
                          <label class="col-sm-10 text-danger" *ngIf="!email.valid && email.dirty">Invalid email-id</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="password" class="col-lg-3 col-md-4 col-sm-3 control-label">Password</label>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <input type="password" class="form-control" placeholder="Password" id="password" [(ngModel)]="user.password" name="password"
                          pattern=".{6,}" required #password="ngModel">
                        <div>
                          <label class="col-sm-10 text-danger" *ngIf="!password.valid && password.dirty">Minimum 6 characters</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-6 col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign in</button>
                      </div>
                    </div>
                  </form>


                  <button class="btn btn-primary" (click)="facebookLogin()">Facebook Login</button>
                </div>
              
          </div>

</section>