<section id="mu-page-breadcrumb">


  <section id="mu-contact">
    <div class="container">
      <div class="row">

                    <form class="form-horizontal" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
                      <div class="form-group">
                        {{errorMessage}}
                        <label for="email" class="col-lg-3 col-md-4 col-sm-3 control-label">Email</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <input type="text" class="form-control" placeholder="Email / Userid" id="email" [(ngModel)]="user.email" name="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                            required #email="ngModel">
                          <div>
                            <label class="col-lg-6 col-md-6 col-sm-6 text-danger" *ngIf="!email.valid && email.dirty">Invalid email-id</label>
                          </div>
                        </div>
                      </div>





                      <div class="form-group">
                        <label for="password" class="col-lg-3 col-md-4 col-sm-3 control-label">Password</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <input type="password" class="form-control" placeholder="Password" id="password" [(ngModel)]="user.password" name="password"
                            pattern=".{6,}" required #password="ngModel">
                          <div>
                            <label class="col-lg-6 col-md-6 col-sm-6 text-danger" *ngIf="!password.valid && password.dirty">Minimum 6 characters</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="confirmPassword" class="col-lg-3 col-md-4 col-sm-3 control-label">Confirm Password</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" [(ngModel)]="user.confirmPassword"
                            name="confirmPassword" pattern=".{6,}" required #confirmPassword="ngModel">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="text-danger" *ngIf="!confirmPassword.valid && confirmPassword.dirty">Minimum 6 characters</label>
                            <br/>
                            <label class="text-danger" *ngIf="confirmPassword.value != password.value">Passwords are not matched</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-6 col-md-offset-4 col-md-6 col-sm-offset-3 col-sm-6">
                          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid || (confirmPassword.value != password.value) || !email.valid">Sign up</button>
                        </div>
                      </div>
                    </form>
                  
              </div>
            
    </div>
  </section>

  <!--

<section id="ds-signup">
<div class="container"><div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2">

        <h3 class="text-danger">{{signupMessage}}</h3>

		<form class="form-horizontal" role="form" name="userRegistrationForm">

            <div class="form-group" ng-class="{ 'has-error' : userRegistrationForm.email.$invalid && !userRegistrationForm.email.$pristine }">
                <label for="email" class="col-sm-2 form-control-label">Email<span class="required">*</span></label>
                <div class="col-sm-10">
                    <input type="text" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" class="form-control" placeholder="Username/Email" ng-model="userFactory.user.email" required autofocus>

                    <p ng-show="userRegistrationForm.email.$invalid && !userRegistrationForm.email.$pristine" class="help-block">A valid email is required</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': userRegistrationForm.password.$invalid && !userRegistrationForm.password.$pristine}">
                <label for="password" class="col-sm-2">Password<span class="required">*</span></label>
                <div class="col-sm-10">
                    <input type="password" id="password" name="password" pattern=".{6,}" class="form-control" placeholder="Password" ng-model="userFactory.user.password" required>
                    <p ng-show="userRegistrationForm.password.$invalid && !userRegistrationForm.password.$pristine" class="help-block">At least 6 characters</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userRegistrationForm.confirm.$invalid && !userRegistrationForm.confirm.$pristine}">
                <label for="confirm" class="col-sm-2">Confirm Password<span class="required">*</span></label>
                <div class="col-sm-10">
                    <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirm Password" ng-model="user.confirm" required>

                    <p ng-show="user.confirm.length>0 && userFactory.user.password !== user.confirm" class="help-block">These passwords don't match. Try again?</p>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary" ng-click="userSignup()">Submit</button>
                    <button type="reset" id="clearBtn" class="btn btn-info">Clear Form</button>
                </div>
            </div>

        </form>

        <hr>

        <p>Already have an account? <a href="#/login" class="btn btn-default">Login</a></p>
        <p>Or go <a href="#/" class="btn btn-default">home</a>.</p>

	</div></div></div>
</section>

-->