

<form class="form-horizontal">
  
  
  <div class="form-group">
    <label for="trainingName" class="col-sm-offset-1 col-sm-2 control-label">TrainingName</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="trainingName" #trainingName placeholder="Training Name">
    </div>
<!--  </div>


  <div class="form-group">-->
    <!--<div class="col-sm-offset-2 col-sm-10">-->
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="generateTrainingRequest(trainingName.value)">Send Request</button>
    </div>
  </div>
</form>

<!--<alert type="success">
  <strong>Well done!</strong> You successfully read this important alert message.
</alert>-->

<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
 
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div>