 <section id="mu-contact">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-contact-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Get in Touch</h2>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut laboriosam corporis doloribus, officia, accusamus illo nam tempore totam alias!</p>-->
          </div>
          <!-- end title -->
          <!-- start contact content -->
          <div class="mu-contact-content">           
            <div class="row">
              <div class="col-md-12">
              
               <!--------------------------------------------------------------->
                <div>
                 <div class="col-sm-6">
					<h3><u>General Instructions:</u></h3>
					<div class="table-responsive">
						<table class="table">
							<tbody>

								<tr>
									<td>This quiz contains <strong>{{quizzesService.selectedQuiz.questions.length}}</strong> questions.</td>
								</tr>
								<tr>
									<td>Given time (hr:min:sec) : <strong>{{quizDuration.hr}}:{{quizDuration.min}}:{{quizDuration.sec}}</strong></td>
								</tr>
								<tr>
									<td>
										The countdown timer in the top right corner of screen will display the remaining time.
									</td>
								</tr>
								<tr>
									<td>Progress bar at the top of your screen will display the spent time.</td>
								</tr>
								<tr>
									<td>Click the <strong>Submit Test</strong> button in the bottom right of the screen to Submit your answers.</td>
								</tr>
								<tr>
									<td>When the timer reaches zero, the examination will end by itself.</td>
								</tr>
								<tr>
									<td>
										<mark>Don't try refresh the page.</mark>
									</td>
								</tr>
								<tr>
									<td>All question numbers will be displayed in the Question Palette displayed on the left side of screen.</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="col-sm-6">
					<h3><u>Answering a Question:</u></h3>
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>Each question carry <strong>1 mark, no negative marks..</strong></td>
								</tr>
								<tr>
									<td>
										To jumnp directly to a question, click on the question number in the Question Palette at the laft of your screen.
									</td>
								</tr>
								<tr>
									<td>
										You can change your answer to a question that has already been answered.
									</td>
								</tr>
								<tr>
									<td>
										Not visited questions will be in
										<mark>blue</mark> color in the Question Palette.
									</td>
								</tr>
								<tr>
									<td>
										Attempted questions will be in
										<mark>green</mark> color in the Question Palette.
									</td>
								</tr>
								<tr>
									<td>
										Visited but unattempted questions will be in
										<mark>gray</mark> color in the Question Palette.
									</td>
								</tr>
								<tr>
									<td>
										Each question carry <strong>1 mark</strong>.
									</td>
								</tr>
								<tr>
									<td>
										No negative marking for the questions.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div>
					<a [routerLink]="['/profile/quiz/test']" class="btn btn-lg btn-primary">
						Start {{quizzesService.selectedQuiz.quizName}} test
					</a>
				</div>
                 
                 
                </div>
                <!---------------------------------------------------------------------------->
              </div>
              
            </div>
          </div>
          <!-- end contact content -->
         </div>
       </div>
     </div>
   </div>
 </section>